# Ambiente virtual
venv/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos do VSCode
.vscode/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações de ambiente e chaves sensíveis
.env

# Logs
*.log
logs/

# Arquivos de dependências criados automaticamente
pip-log.txt
